<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:c="http://java.sun.com/xml/ns/javaee"
      xmlns:spring="http://xmlns.jcp.org/xml/ns/javaee"
      layout:decorator="main/main.html">
<div layout:fragment="content">

    <script type="text/javascript" src="/static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <script type="text/javascript" src="/static/js/jquery.1.10.2.min.js" th:src="@{/js/jquery.1.10.2.min.js}"></script>


    <div class="row">
        <div class="col-sm-8">
            <form action="/register" method="post" id="form_reg">
                <div class="form-group">
                    <label>
                        EMAIL :
                    </label>
                    <input type="email" name="user_email" class="form-control" id="user_email">

                    <span id="demo" style="color: red;"></span>

                </div>
                <div class="form-group">
                    <label th:text="#{label.fullName_field_registration}">
                        :
                    </label>
                    <input type="text" name="user_name" class="form-control" id="user_name" onclick="searchViaAjax()">


                </div>
                <div class="form-group">
                    <label th:text="#{label.password_field_reg}">

                    </label>
                    <input type="password" name="user_password" class="form-control" id="user_password"
                           onclick="searchViaAjax()">

                    <span id="demo1" style="color: red;"></span>

                </div>
                <div class="form-group">
                    <label th:text="#{label.repassword_field_reg}">

                    </label>
                    <input type="password" name="user_repassword" class="form-control" id="user_repassword"
                           onclick="searchViaAjax()">

                </div>
                <button class="btn btn-success" type="submit" id="btn-search" th:text="#{label.signin }"></button>
            </form>
        </div>
    </div>

    <script>
        jQuery(document).ready(function ($) {
            $("#btn-search").attr("disabled", true);
            $("#form_reg").mouseleave(function (event) {


                // Prevent the form from submitting via the browser.
                event.preventDefault();

                searchViaAjax();

            });

        });

        function searchViaAjax() {

            var search = {}
            search["username"] = $("#user_name").val();
            search["email"] = $("#user_email").val();
            search["password"] = $("#user_password").val();
            search["repassword"] = $("#user_repassword").val();
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "http://localhost:8004/search/api/getSearchResult",
                data: JSON.stringify(search),
                dataType: 'json',
                timeout: 100000,
                success: function (data) {

                    var obj = data;
                    $("#btn-search").attr("disabled", true);
                    console.log("SUCCESS: ", data);
                    display(obj);
                    if (obj.msg === "" && obj.passwordError === "" && obj.result == null) {
                        $("#btn-search").attr("disabled", false);
                    }
                },
                error: function (e) {
                    console.log("ERROR: ", e);
                    display(e);
                },
                done: function (e) {
                    console.log("DONE");
                    enableSearchButton(true);
                }
            });

        }

        function display(data) {
            document.getElementById("demo").innerHTML = data.msg;
            document.getElementById("demo1").innerHTML = data.passwordError;
        }
    </script>


</div>

</html>

