<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="main/main_hotel.html">
<div layout:fragment="content">

    <!-- Breadcrumb Section Begin -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2 th:text = "${is_available_rooms}"></h2>
<!--                        <div class="bt-option">-->
<!--                            <a href="./home.html">Home</a>-->
<!--                            <span>Rooms</span>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

    <!-- Rooms Section Begin -->
    <section class="rooms-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6" th:each = "room : ${empty_rooms}">
                    <div class="room-item">
                        <img th:src="${room.picturePath}" alt="">
                        <div class="ri-text">
                            <h4 th:text = "${room.description}"></h4>
                            <h3 th:text = "${room.cost} + '$/pernight'"></h3>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Size:</td>
                                        <td th:text = "${room.size} + 'rommed'"></td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Capacity:</td>
                                        <td th:text="${room.capacity} + 'persons'"></td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Bed:</td>
                                        <td th:text="${room.bedInfo}"></td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Services:</td>
                                        <td th:text = "${room.services}"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="#" class="primary-btn">More Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="room-pagination">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">Next <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Rooms Section End -->
</div>
</html>
    <!-- Footer Section Begin -->
