<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Rooms</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
<div class="row">
    <div class="col-sm-8">
        <form action="/updateRoom" method="post">
            <input type="hidden" name="room_id" th:value="${room_edit.id}">
            <div class="form-group">
                <label>
                    Type of the Room:
                </label>
                <select class="form-control" name="type_of_the_room" th:value="${room_edit.description}">
                    <option>Exclusive Golden Room</option>
                    <option>Exclusive Silver Room</option>
                    <option>Exclusive Bronze Room</option>
                </select>
            </div>
            <div class="form-group">
                <label>
                    Capacity:
                </label>
                <input type="number" name="capacity" class="form-control" th:value="${room_edit.capacity}">
            </div>
            <div class="form-group">
                <label>
                    Size:
                </label>
                <input type="number" name="size" class="form-control" th:value="${room_edit.size}">
            </div>
            <div class="form-group">
                <label>
                    Number:
                </label>
                <input type="number" name="number" class="form-control" th:value="${room_edit.number}">
            </div>
            <div class="form-group">
                <label>
                    Bed info:
                </label>
                <input type="text" name="bed_info" class="form-control" th:value="${room_edit.bedInfo}">
            </div>
            <div class="form-group">
                <label>
                    Sevices:
                </label>
                <input type="text" name="services" class="form-control" th:value="${room_edit.services}">
            </div>
            <div class="form-group">
                <label>
                    Cost:
                </label>
                <input type="number" name="cost" class="form-control" th:value="${room_edit.cost}">
                <div class="input-group-append">
                    <span class="input-group-text">$</span>
                </div>
            </div>
            <div class="form-group">
                Image:
                <input type="file" name="image">
            </div>
            <button class="btn btn-success">UPDATE</button>
        </form>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</html>